.thumbnail-images {
  height: 168px;
}

.list-container-thumbnail {
  margin: 15px;
}
.list-button {
  background-color: transparent;
  border-width: 0px;
}

@media screen and (max-width: 575px) {
  .thumbnail-images {
    height: 77px;
  }
  .list-container-thumbnail {
    margin: 5px;
  }
}
